div.destinatarios.my-3
hr
div.contenidoCorreo.my-3
    h4 Estimados(as) Estudiantes de:
    h4
        programa.fw-bold
    h5 
        admision.fw-bold
    h5.mb-3 
        semestre.fw-bold
    
    p Me es grato dirigirme a ustedes para saludarles y en coordinación con los Directivos de la ESPG, se les comunica:
    p Que el día sábado <sabado class="fw-bold"></sabado> y domingo <domingo class="fw-bold"></domingo>, <b>continúan</b> las clases del curso: <curso class="fw-bold"></curso>, a cargo del docente <docente class="fw-bold"></docente> y hacerles recuerdo que las clases de este fin de semana serán  modalidad <modalidad class="fw-bold"></modalidad>.
    
    h4 Las clases se realizarán en:
    h3
        aula.fw-bold
    br
    
    h4 Horario de clases
    ul 
        li 
            b Sábados: 2:00pm a 9:30pm
        li
            b Domingos: 8:00am a 2:00pm

    hr
   
    ul
        li Escuela de Posgrado de la UNJBG - Tacna

        li Av. Bolognesi con Av. Pinto
        li WhatsApp:
        li Dirección: 952 973 337
        li Secretaría Académica: 995 522 311
        li Registros Académicos: 923 211 776 / 931 846 415
        li Proyectos y Tesis: 952 342 701
        li Informática: 952616538 
        li Área Contable: 952 995 408 / 945379976
        li 052-241192  052-583000 Anexo 3051-3052
        li Correo: espg@unjbg.edu.pe
        li Web Site: http://www.espg.unjbg.edu.pe
        li Facebook: https://www.facebook.com/EscuelaPosgradoUNJBG/

    ul.text-danger.fw-bold
        li Horario de atención:
        li Lunes a Viernes: 8:30 am - 4:30 pm
        li Sábados: 12:00 pm - 10:00 pm (solo personal de Informática)
        li Domingos: 8:00 am - 2:00 pm (solo personal de Informática)