#select-docente{
    background-color: white;
    appearance:none;
}

.dropdown-item:hover{
    cursor: pointer;
}

#dropdown-docente{
    max-height: 300px;    
}

#optDocentes{ 
    overflow-y: scroll;
    max-height: 180px;
}

tr a{
    text-decoration: none;
}

.emojiControl{ 
    background-color: rgb(255, 255, 255);
    padding: 0 5px 5px 5px; 
    border-radius: 5px;
}

.emojiControl:hover{ 
    background-color: yellowgreen; transition: .2s;
    cursor: pointer;
}